body{
    background-color: rgb(50, 61, 78);
    color: whitesmoke;
}

.container{
    width: 50%;
}

#form{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Oswald', sans-serif;
}

h6{
    font-family: 'Oswald', sans-serif;
}

a{
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Merriweather', serif;
}